body, main{
    display: flex;

}
body{
    flex-direction: column;
    color: rgb(230, 25, 25);
    background-color: bisque;
    font

}
main{
    flex-direction: row;
    flex: auto;

}
article{
    flex: 2;
    overflow-y: auto;
    background-color: rgb(238, 183, 227);

}
aside{
    flex: 1;
    overflow-y: auto;
    
}

